h1 {
    color: orange;
}
body {
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    font-weight: bold;

}
#message-el {
    font-style: italic;
}

#but1 {
    color: #016f32;
    width     : 150px;
    background: goldenrod;
    padding: 5px 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}